@import './reset.css';

@media (min-width:320px)  {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    *{
        box-sizing: border-box;
    }
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin: 0 0 25px;
        padding: 10px;
    }
    b {
        font-weight: 700;
    }
    .logo-wrapper{
        text-align: center;
        margin: 20px auto;
    }
    .logo {
        text-decoration: none;
        font-weight: 700;
        font-size: 40px;
        color: rgb(80, 80, 80);
        transition: .3s;
    }
    .logo:hover {
        color: rgb(0, 0, 0);
        font-size: 44px;
        transition: .3s;
    }
    /*Project title styling*/
    .project-tab {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin: 0 auto;
    }
    .project-tab-title{
        display: block;
        word-wrap: break-word;
        cursor: pointer;
        width: 90%;
    }
    .more-projects{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        cursor: pointer;
    }
    /*main container styling*/
    .content-container {
        width: 95%;
        margin: 20px auto;
    }
    /*Button for adding project styling*/
    .add-project_window{
        width: 160px;
        padding: 4px 8px;
        margin: auto;
        background: rgb(114, 211, 17);
        border: 1px solid rgb(0, 180, 0);
        border-radius: 5px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
    .add-project_window:active{
        background-color: rgb(111, 194, 27);
    }
    /*Styling for background of pop-up windows to add/edit task or project*/
    .add-project-wrapper,
    .add-task-wrapper,
    .edit-project-wrapper,
    .edit-task-wrapper,
    .assurance-wrapper,
    .task-assurance-wrapper {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.35);
    }
    /*Close button for pop-ups styling*/
    .close{
        font-size: 18px;
        font-weight: 600;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    /*Adding project container styling*/
    .add-project_container,
    .edit-project-container {
        position: relative;
        display: inline-block;
        width: 300px;
        height: 160px;
        margin: 0 auto;
        text-align: center;
        background-color: white;
    }
    .add-project_container form,
    .edit-project-container form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .add-project_container input,
    .add-project_container select,
    .add-project_container button,
    .add-task-container select,
    .add-task-container input,
    .add-task-container textarea,
    .add-task-container button{
        margin-top: 10px;
    }
    .new-project-title,
    .new-task-title,
    .edit-project-title,
    .edit-task-title {
        font-weight: 600;
        font-size: 18px;
        padding-top: 10px;
    }
    /*Adding task styling*/
    .add-task-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .add-task-container {
        position: relative;
        display: inline-block;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        text-align: center;
        background-color: white;
    }

    /*Editing project styling*/
    .edit-project-container input,
    .edit-project-container button,
    .edit-project-container select {
        margin-top: 10px;
    }
    /*deleting project pop-up*/
    .assurance-container,
    .task-assurance-container {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 300px;
        height: 100px;
        background-color: white;
        text-align: center;
    }
    .assurance-text,
    .task-assurance-text {
        display: block;
        margin-top: 10px;
        padding: 0 20px;
    }
    .assurance-buttons,
    .task-assurance-buttons {
        width: 250px;
        margin: 15px auto;
        display: flex;
        justify-content: space-evenly;
    }
    /*Editing Task styling*/
    .edit-task-container {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 300px;
        height: 200px;
        background-color: white;
        text-align: center;
    }
    /*Invidual Project styling*/
    .project {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
    .project i{
        margin-left: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .project-title{
        display: block;
        word-wrap: break-word;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        width: 250px;
    }
    .project div {
        display: flex;
        align-items: center;
    }
    /* All projects styling*/

    .all-projects {
        display: flex;
        flex-direction: column;
        visibility: visible;
    }
    .all-projects-container {
        display: flex;
        flex-direction: column;
    }

    /*All Tasks styling*/
    .task {
        padding: 10px;
    }
    .task i {
        padding-right: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .task-bar {
        display: flex;
        justify-content: space-between;

    }
    .task-title {
        font-size: 20px;
        font-weight: 700;
    }
    .more-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .more-wrapper span {
        padding-bottom: 10px;
        word-wrap: break-word;
    }
    .task-description {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .task-description span {
        padding: 5px 15px;

    }
    .task-buttons-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    /*Add Task button styling*/
    .add-task_window {
        border-radius: 50%;
        position: fixed;
        bottom: 50px;
        right: 30px;
        font-size: 40px;
        font-weight: 700;
        cursor: pointer;
        background-color: tomato;
        color: rgb(255, 253, 245);
    }
    /*footer styling*/
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 25px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .author,
    .author a {
        font-size: 14px;
        color: rgb(141, 141, 141);
    }
    .author a {
        color: black;
        text-decoration: none;
        font-weight: 700;
    }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .project-tab {
        width: 90%;
    }
    .content-container {
        width: 80%;
    }
    .all-projects-container {
        margin: 0 20px;
    }
    .add-task_window {
        right: 5%;
    }
}
@media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .add-task_window {
        right: 10%;
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .project-tab {
        width: 800px;
    }
    .content-container {
        width: 800px;
    }
    .add-task_window {
        right: 16%;
    }
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .add-task_window {
        right: 20%;
    }
}
@media (min-width: 1440px){
    .add-task_window {
        right: 25%;
    }
}